/**
    * [small.css]
    * @version 1.0.0
    * @author Christian Klauenbösch
    * @link http://www.christianklauenboesch.ch
    *
    * @version SSV Bestellsystem
    * previous now     what changed
    *          1.0.0
*/
body {
    font: normal 73%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
    margin: 75px 0 0 0;
    padding: 0;
    background-color: #e6e6e6;
}
a {
    background: inherit;
    color: #72A545;
    text-decoration: none;
}
a:hover {
    background: inherit;
    color: #a01a00;
    text-decoration: underline;
}
h1 {
    font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
    color: #a01a00;
    border-bottom: 1px solid #555;
    width: 480px;
}
.left {
    text-align: left;
    float: left;
}
.right {
    text-align: right;
    float: right;
}
.nopm {
    margin: -10px -10px 0 0 !important;
    padding: 0 0 10px 10px !important;
}
.bold {
    font-weight: bolder;
}
#container {
    background-color: white;
    position: absolute;
    width: 600px;
    height: auto;
    border: 2px solid #a01a00;
    left: 50%;
    margin-left: -300px;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}
.box {
    width: 220px;
    margin: 15px 0 15px 50px;
    padding: 10px 10px 10px 100px;
    border: 1px solid #a01a00;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#footer {
    width: 100%;
    border-top: 1px solid #555;
    clear: both;
    margin: 10px 0 0 0;
    padding: 0;
    font: normal .95em/1.6em 'Trebuchet MS', Tahoma, Arial, sans-serif;
}
input {
    width: 180px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px;
    border: 1px solid #bbb;
    font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
    color: #777;
}
input[type=checkbox] {
    width: 10px;
    margin-left: 10px !important;
    text-align: center;
}
input[type=submit] {
    height: 26px;
    width: 100%;
    color: #212121;
}
.inputint {
    text-align: center;
}
.input50 {
    width: 50%;
}
.state-error {
    border: 1px solid #cd0a0a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background: url('../images/input_bg_red.png') repeat;
    color: #cd0a0a;
}
.state-success {
    border: 1px solid green;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background: url('../images/input_bg_green.png') repeat;
}
#next {
    text-align: center;
    font-size: 200%;
}