<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="content-language" content="de" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>SSV Feldschiessen</title>
        <link rel="stylesheet" href="html/css/small.css" type="text/css" />
    </head>
    <body>
        <div id="container">
            <img class="right nopm" src="html/images/logossv.gif" alt="" />
            <form action="preview.html" method="post">
            <h1>Helvetiorum dirigentes ludis societas agro</h1>
            <h2>Lorem ipsum dolor</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <h2>Sed diam nonumy</h2>
            <p>
                <input type="text" /> Schiessplatz<br />
            </p>
            <h3>Raporta deos silire</h3>
            <p>
                <input type="checkbox" checked="checked" />
                <select name="select">
                    <option>07:30</option>
                </select>
                ad
                <select name="select">
                    <option>09:30</option>
                </select> Freitag<br />
                <input type="checkbox" checked="checked" />
                <select name="select">
                    <option>07:30</option>
                </select>
                ad
                <select name="select">
                    <option>09:30</option>
                </select> Samstag Morgen<br />
                <input type="checkbox" checked="checked" />
                <select name="select">
                    <option>13:30</option>
                </select>
                ad
                <select name="select">
                    <option>16:30</option>
                </select> Samstag Nachmittag<br />
                <input type="checkbox" checked="checked" />
                <select name="select">
                    <option>07:30</option>
                </select>
                ad
                <select name="select">
                    <option>09:30</option>
                </select> Sonntag Morgen<br />
            </p>
            <h2>No sea takamati</h2>
            <p>
                <input class="inputint" type="text" style="width:40px;" value="1" /> x Lorem ipsum à 20 CHF (<a href="#">dolore</a>) <span class="right">CHF 20.00</span><br />
                <input class="inputint" type="text" style="width:40px;" value="2" /> x Dolor sit amet à 50 CHF (<a href="#">dolore</a>) <span class="right">CHF 100.00</span><br />
                <input class="inputint" type="text" style="width:40px;" value="3" /> x Consetetur à 50 CHF (<a href="#">dolore</a>) <span class="right">CHF 150.00</span><br />
            </p>
            <p>
                Total: <span class="right bold">CHF 220.00</span><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing (7.55 CHF)
            </p>
            <p>
                <input type="submit" value="magis" />
            </p>
            </form>
            <div id="footer">
                <span class="left">
                    <a href="">Deutsch</a> - <a href="">Français</a> - <a href="">Italiano</a>
                </span>
                <span class="right">
                    Nutzungsbedingungen - AGB - Impressum - &copy; 2012 Schweizer Schiessportverband
                </span>
            </div>
        </div>
    </body>
</html>